{
  "name": "XHRObserver",
  "version": "1.0",
  "author": "Boughpohpue Lukas Kulik",
  "team": "Infertus",
  "domain": "web-development",
  "subdomain": "client-side",
  "category": "utils",
  "group": "javascript",
  "export_as": "class",
  "default_export": "RequestHandler",
  "requires": [
    {
      "name": "just.js-1.0.1.js",
      "source": "https://boughpohpue.github.io/just.js/compiled/just.js-1.0.1.js"
    }
  ],
  "content": [
    "*.js"
  ],
  "description": "A lightweight JavaScript utility that intercepts XHR requests and lets you react to specific API calls using pattern-based matching.",
  "tags": [
    "js",
    "javascript",
    "request",
    "router",
    "observer",
    "interceptor",
    "XHR",
    "XHR router",
    "XHR observer",
    "XHR interceptor",
    "XHR request router",
    "XHR request observer",
    "XHR request interceptor"
  ]
}
