.console-output {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    text-align: left;
    font-weight: bold;
    background-color: black;
    color: white;
}
.log {
    color: lime;
}
.info {
    color: light-gray;
    text-decoration: underline;
}
.warn {
    color: yellow;
}
.error {
    color: red;
    text-decoration: underline;
}
